@charset "utf-8";
/* CSS Document */

.hinhtong {
    width: 100%;
    height: 2000px;
    background-color: #171717;
}
.hinh1 {
    width: 100%;
    height: 70px;
    background-color: aqua;
}
.hinh01 {
    width: 30%;
    height: 70px;
    background-color: #000000;
    float: left;
    margin: 0 auto;
	padding: 10px 150px 10px 150px;
	box-sizing: border-box;
}
.hinh001 {
    width: 70%;
    height: 70px;
    background-color: #000000;
    float: right;
}
.hinh001 ul {
    list-style: none;
    padding: 0;
}
.hinh001 ul li {
    float: left;
    padding: 15px 50px 15px 50px;
    position: relative;
}
.hinh001 ul li a {
    text-decoration: none;
    color: aliceblue;
}
.hinh001 ul li:hover a {
    color: coral;
}
.hinh001 ul li ul {
    position: absolute;
    top: 69px;
    left: 0;
    visibility: hidden;
}
.hinh001 ul li ul li {
    width: 100px;
    border-bottom-color: yellow;
}
.hinh001 ul li:hover ul {
    visibility: visible;
}
.hinh2 {
    width: 100%;
    height: 400px;
    background-color: aliceblue;
}

.hinh02 {
    width: 50%;
    height: 400px;
    background-color: aliceblue;
    float: left;
	margin: 0 auto;
	padding: 50px 100px 50px 300px;
	box-sizing: border-box;
}
.hinh002 {
    width: 50%;
    height: 400px;
    background-color: aliceblue;
	float: right;
    margin: 0 auto;
	padding: 50px 0px 0px 0px;
	box-sizing: border-box;
     
}
.hinh3
{
	width: 100%;
	height: 30px;
	background-color: #171717;
}
.hinh4
{
	width: 100%;
	height: 500px;
	background-color:#242323;
	margin-top: 0px;
	padding: 0px 0px 50px 0px;
	box-sizing: border-box;
	color: aliceblue;
	text-align: center;
	
}
.hinh04
{
	width: 35%;
	height: 300px;
	background-color:aliceblue;
	float: left;
	margin: 92px 0px 0px 200px;
	
}
.hinh04 p
{
	color: #2C2C2C;
	text-align: center;
	margin: 0 auto;
	padding: 100px 50px 20px 50px;
	box-sizing: border-box;
}
.hinh004
{
	width: 35%;
	height: 300px;
	background-color:aliceblue;
	float: right;
	margin: 92px 200px 0px 0px;
}
.hinhtron1
{width: 100px;
 height: 100px;
 background-color: aqua;
 border-radius: 100%;
 margin: -50px auto;
 }
.hinh0004
{
	width: 555px;
	height: 100px;
	background-color: antiquewhite;
	margin: 26px auto;
	text-align: center;
}
.hinh0004 h3
{color: #E76CCC;
 padding: 20px 0px 0px 0px;
 box-sizing: border-box;}
.hinh0004 h4
{color: #4C4C4C;
 padding: 0px 0px 20px 0px;
 box-sizing: border-box;}
.hinh0004copy
{
	width: 555px;
	height: 100px;
	background-color: antiquewhite;
	margin: 26px auto;
}
.hinh004 p
{
	color: #2C2C2C;
	text-align: center;
	margin: 0 auto;
	padding: 100px 50px 20px 50px;
	box-sizing: border-box;
}
.hinh0004copy h3
{color: #E76CCC;
 padding: 20px 0px 0px 0px;
 box-sizing: border-box;}
.hinh0004copy h4
{color: #4C4C4C;
 padding: 0px 0px 0px 0px;
 box-sizing: border-box;}
.hinh5
{
	width: 100%;
	height: 40px;
	background-color: #171717;
}
.hinh6
{
	width: 100%;
	height: 610px;
	background-color:antiquewhite;
	text-align: center;
}
.hinh06
{
	width: 35%;
	height: 500px;
	background-color:antiquewhite;
	float: left;
	margin: 42px 0px 0px 150px;
	top: 90px;
	box-sizing: border-box;
}
.hinh06nho1
{
	width: 555px;
	height: 245px;
	background-color: aliceblue;
	text-align: left;
	padding: 30px 50px 30px 50px;
	margin: 0px 0px 0px 0px;
	box-sizing: border-box;
}
.hinh06nho2
{
	width: 555px;
	height: 245px;
	background-color: blueviolet;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	box-sizing: border-box;
}
.hinh006
{
	width: 45%;
	height: 500px;
	background-color: aliceblue;
	float: right;
	margin: 42px 150px 0px 0px;
	top: 90px;
	text-align: left;
	padding: 100px 50px 30px 50px;
	box-sizing: border-box;
	z-index: 500px;
}

.hinh006nho
{
	width: 150px;
	height: 50px;
	background-color: hotpink;
	border-radius: 30px;
	padding: 15px 0px 0px 0px;
	box-sizing: border-box;
	text-align: center;
}
.hinh7
{
	width: 100%;
	height: 300px;
	background-color: #181818;
}
.hinh07
{
	width: 25%;
	height: 300px;
	background-color: #181818;
	float: left;
	padding: 75px;
	margin: 0px 0px 0px 100px;
	box-sizing: border-box;
	color: aliceblue;
	
}
